# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/agri-connect?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=your_password

# Server Configuration
PORT=2529

# Email Configuration
MAIL_USERNAME=your_email@gmail.com
MAIL_PASS=your_app_password

# Google Maps API Configuration
GOOGLE_MAP_API_KEY=your_google_maps_api_key

# Eureka Configuration
EUREKA_SERVER_URL=http://localhost:8761/eureka/

# Application Environment
SPRING_PROFILES_ACTIVE=dev
